<% content_for :title do %>Admin Dashboard<% end %>

<% form_remote_tag :url => { :action => 'search' }, :update => 'query_results' do |f| %>
<table id="register">
	<tr>
		<td>Search:</td>
		<td><%= text_field_tag :q, params[:q] %></td>
		<td class="buttons"><%= submit_tag :Search, :id => 'search_b' %></td>
	</tr>
</table>
<% end %>

<div id="query_results" style="padding: 20px;">
</div>

<% if params[:q] %>
<script>
$('search_b').click();
</script>
<% end %>
