<% content_for :title do %>Admin Dashboard<% end %>

<% form_remote_tag :url => { :action => 'search' }, :update => 'query_results', :loading => visual_effect(:fade, 'query_results', :duration => 0.2), :complete => visual_effect(:appear, 'query_results', :duration => 0.2) do |f| %>
<table id="register" cellspacing="0">
	<tr>
		<td>Search:</td>
		<td><%= text_field_tag :q, params[:q] %></td>
		<td class="buttons"><%= submit_tag :Search, :id => 'search_b' %></td>
	</tr>
	<tr>
		<td colspan="2">
			<% %w(accounts billings servers tickets users).each do |t| %>
			<%= link_to_function t.titleize, "perform_search(':#{t}');" %> |
			<% end %>
		</td>
	</tr>
</table>
<% end %>

<div id="query_results" style="padding: 20px;">
</div>

<script>
if ($('q').value != "") {
	$('search_b').click();
}

function perform_search(value) {
	$('q').value = value;
	$('search_b').click();
}

</script>

